<% include template/html_tag_start.ejs %>
<% include template/head_tag.ejs %>
<body>
<% include template/ie_warning.ejs %>
<% include template/header.ejs %>

<div class="container">
	<!-- Example row of columns -->

	<div class="row">
		<div class="col-lg-12">
			<h2><%= file %></h2>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3">

			<% include widget/project.ejs %>

			<% include widget/outline.ejs %>

		</div>
		<div class="col-lg-9">

			<% if(type == 'file') { %>
			<% include widget/code_reader.ejs %>
			<% } else{ %>
			<% include widget/folder.ejs %>
			<% } %>

		</div>
	</div>

	<% include template/footer %>

</div>
<!-- /container -->
</body>
</html>
