/* ==========================================================================
   Author's custom styles
   ========================================================================== */

table.highlighttable {
	width: 100%;
}

.code .highlight pre {
	background-color: #073642;
}

pre {
	padding-left: inherit;
	padding-right: inherit;
}

.code pre {
	padding-left: 5px;
}

.linenos pre {
	word-break: normal;
}

pre span {

}

.fix-side {
	position: fixed;
}

#path_tree ul {
	padding-left: 1em;
}

a[name*='l-'] {
	position: relative;
	top: -200px;
	visibility: hidden;
}
