<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><%= file %></h3>
	</div>
	<div class="panel-body" id="code_panel">
		<div style="height: 300px;text-align: center">
			<span><img src="img/ajax-loader.gif"/><%- codes %></span>
		</div>

	</div>
</div>

<script>

	$(function () {
		$('#code_panel').load('ajax/code/<%=file%>',function () {
			$('a[name*="l-"]').text(' ');
		});
	});

</script>
