<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><%= file %>
			<small>(<span id="file_type"></span>, <span id="file_size"></span> bytes)</small>
		</h3>
	</div>
	<div class="panel-body" id="code_panel">
		<div style="height: 300px;text-align: center">
			<span><img src="img/ajax-loader.gif"/><%- codes %></span>
		</div>

	</div>
</div>


<script>

	$(function () {
		//get code body
		$('#code_panel').load('ajax/code/<%=file%>', function () {
			$('a[name*="l-"]').text(' ');
			attach_select_listener($('#code_panel span[class]'));
			var matches = location.href.match(/#line-(\d+)/);
			if (matches != null) {
				go_to_line(matches[1]);
			}
		});

		//get file meta info
		$.get('ajax/fileMeta/<%=file%>', function (meta) {
			$('#file_type').text(meta['type']);
			$('#file_size').text(meta['size']);

		});
	});

</script>

<% include popover_inspctor.ejs %>