<div class="panel panel-default">

	<div class="panel-heading">
		<h3 class="panel-title">Outline</h3>
	</div>

	<div class="panel-body" id="outline_defines_wrap">
		<div id="outline_defines"></div>
	</div>
</div>

<script>

	function go_to_line(line){
		var target_span = $('#l-' + line);
		$(document.body).animate({scrollTop: target_span.offset().top - 150 }, 80, function () {
			target_span.addClass('animated flash').
					one('webkitAnimationEnd oAnimationEnd', function () {
						$(this).removeClass('animated flash');
					});
		});
	}

	$(function () {
		$('#outline_defines').load('ajax/outline/<%=file%>', function () {
			$('#outline_defines li a').click(function (e) {
				e.preventDefault();
				go_to_line($(this).data('line'));
			});
		});
	});

</script>
